.home footer{
    text-align: center;
    font-family: var(--Familia);
    background-color: white;
}

.home footer i{
    font-size: 2em;
    color: var(--celeste);
    margin-top: 15%;
    margin-bottom: 10px;
}

.home footer h3,.home footer p{
    color: var(--grisOscuro);
}

.home footer .fin{
    margin-top: 10px;
    text-align:start;
}